modules = ["web", "nodejs-22", "postgresql-16"]
[agent]
expertMode = true
integrations = ["javascript_object_storage:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Web App"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Mobile App"

[[workflows.workflow]]
name = "Web App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd create-anything/_/apps/web && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Mobile App"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd create-anything/_/apps/mobile && npx --yes expo@latest start --tunnel --clear"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 36319
externalPort = 5173

[[ports]]
localPort = 38529
externalPort = 3002

[[ports]]
localPort = 38875
externalPort = 4200

[[ports]]
localPort = 43479
externalPort = 3000

[[ports]]
localPort = 44215
externalPort = 6800

[[ports]]
localPort = 45465
externalPort = 5000

[deployment]
deploymentTarget = "vm"
run = ["bash", "-c", "cd create-anything/_/apps/web && npm run dev"]

[objectStorage]
defaultBucketID = "replit-objstore-3e3f68d4-5dba-4114-a29a-a3e190c369fe"
